body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
}
  
  .box {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;
}